# Documentos de Planejamento e Entregas (Local)
docs/
roadmap_acs.md
roteiro_video.md
entrega_ac1.md
entrega_ac2.md

# Vídeos e PDFs de Entrega
*.mp4
*.pdf

# Logs e Cache
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de Ambiente
.env
.env.local
